.btn {
  border-radius: 40px;
  background: linear-gradient(90deg, #0162c8, #55e7fc);

  /* To make it round */

  animation: ripple 1s;
  opacity: 5;
}

/* Add animation */
@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }

  to {
    opacity: 0;
    transform: scale(10);
  }
}
